* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61, 57, 57);
  color: white;
  font-family: 'Poppins', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title,
#subtitle {
  text-align: center;
}
#title {
  font-size: 6rem;
  margin-top: 10vh;
}
#subtitle {
  font-size: 2rem;
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
#game-container {
  border-radius: 25px;
  border: 5px solid rgb(164, 156, 156);
  background-color: black;
  width: 80vw;
  max-width: 700px;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#confidence-container {
   margin: 10px 0 0 0; 
  }
#status-bar {
  max-width: 500px;
  display: none;
  gap: 60px;
  background-color: white;
  padding: 5px 10px;
  color: black;
  margin: 15px 0;
}
#play-buttons-container {
  max-width: 600px;
  /* border: 3px solid rgb(168, 63, 63); */
  height: 10vh;
  width: 75%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.play-btn {
  color: rgb(23, 20, 20);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  max-width: 500px;
  margin: 5px;
  height: 50px;
  width: 100px;
}
.input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 25px;
}
#submit {
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  border-radius: 25px;
  font-size: 20px;
  }
#hideout {
  margin-bottom: 10px;
}
#hideout,
#quit-button {
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  display: none;
  }
.text-display {
  text-align: center;
  background-color: rgb(164, 156, 156);
  border-radius: 25px;
  width: 90%;
  height: 250px;
  margin: 40px 0 15px 0;
  padding: 15px;
}
#inventory {
  height: 20vh;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
#inventory-text {
  border-radius: 25px;
  background-color: rgb(164, 156, 156);
  height: 17vh;
  margin-top: 15px;
  font-size: 1.8rem;
  display: block;
  flex-wrap: wrap;
}
.inv-text {
  text-align: center;
  display: none;
  justify-content: space-evenly;
  margin: 1.5rem auto 1.2rem auto;
}
